# Ignore everything
*

# Allow project config and source code
!.gitignore
!README.md

# Media assets for portfolio
!Media/
!Media/*

# Unity scripts and project data
!Assets/
!Assets/Scripts/
!Assets/Scripts/**/*.cs

# Explicitly ignore generated folders
Library/
Temp/
Logs/
obj/
.vs/
*.sln
*.csproj
UserSettings/